{% extends 'base.html.twig' %}

{% block title %}Moderate Post
{% endblock %}

{% block body %}
	<link href="{{ asset('css/pages/posts/post_moderate.css') }}" rel="stylesheet"/>

	<h1>Moderate Post</h1>

	<div class="post-details">
		<div class="post-details__title">
			<h2 class="title__title">Title:</h2>
			<p class="title__value">{{ post.title }}</p>
		</div>
		<div class="post-details__body">
			<h2 class="body__title">Body:</h2>
			<p class="body__value">{{ post.body }}</p>
		</div>
		<div class="post-details__meta">
			<h2 class="body__title">Date:</h2>
			<p class="body__value">{{ post.createdAt|date('Y-m-d H:i:s') }}</p>
		</div>
	</div>

	{{ include('post/moderator/moderate/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
